body {
  width: 650px;
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.7px;
  color: #774c28;
  background-color: #f7f0ed;
}

@media screen and (max-width: 700px) {
  body {
    width: auto;
    padding-top: 0;
    padding-left: 0;
  }
}

li {
  margin-bottom: 5px;
  display: inline;
  margin-left: 10px;
}

p {
  font-size: 18px;
}

a {
  color: inherit;
}
