 {% extends "layout.html" %}

 {% block body %}
 
     <h1>Hello World! 👋</h1>
     <p>My name is Malik and I want help build a world where more people have choice and equal access to opportunities. — If you're working on products that improve people's access to opportunities, I want to help.</p>
     <p>People I worked with say I'm good at seeing the big picture and thinking many steps ahead. I know how to identify product opportunities and turn information into knowledge that everyone around me can use to grow.</p>
     <ul>
       <li><a href="https://dribbble.com/malikpiara">Dribbble</a></li>
       <li><a href="https://github.com/malikpiara">Github</a></li>
       <li><a href="http://instagram.com/malikpiara/">Instagram</a></li>
       <li><a href="https://www.linkedin.com/in/malikpiara/">LinkedIn</a></li>
       <li><a href="http://twitter.com/malikpiara">Twitter</a></li>
     </ul>
     <p>We're all humans. In the end of the day what really matters is meaningful connection & execution. Reach me at malikpiara[at]gmail.com, Upframe or Twitter! 🙌&ensp;🚀 </p>

{% endblock %}